{% extends 'base.html.twig' %}

{% block title %}Create new post{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">{{ data.title }}</h3>
                    <div class="small">{{ data.createdAt|date('d.m.Y') }}</div>
                    <div class="card-text">{{ data.content }}</div>
                </div>
                {% if data.user == app.user %}
                    <button class="btn btn-primary">Edit</button>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
