{% extends 'base.html.twig' %}

{% block title %}Create new post{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{ data.title }}</h3>
            <div class="card-subtitle text-muted">{{ data.createdAt|date('d.m.Y') }}</div>
            <div class="card-text">{{ data.content }}</div>
        </div>
        {% if data.user == app.user %}
            <div class="card-footer">
                <button class="btn btn-primary">Edit</button>
                <button class="btn btn-warning">Boost!</button>
            </div>
        {% endif %}
    </div>
{% endblock %}
