{% extends 'base.html.twig' %}

{% block title %}Create new post{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{ data.title }}</h3>
            <div class="card-subtitle text-muted">{{ data.createdAt|date('d.m.Y') }}</div>
            <div class="card-text">{{ data.content }}</div>
        </div>
        <div class="card-footer">
            {% if data.user == app.user %}
                <button class="btn btn-primary">Edit</button>
            {% endif %}
            <button class="btn btn-warning btn-boost" data-amounts="[0.03]">Boost!</button>
        </div>
    </div>
{% endblock %}
